* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
  overflow-x: hidden;
}

$header1: 6.5rem;
$header2: 3.5rem;
$header3: 2.5rem;
$header4: 2rem;
$header5: 1.5rem;
$header6: 1rem;

$primary_blue_color: hsl(258, 83%, 45%);
$primary_text_color: hsl(0, 0%, 41%);
$primary_white_color: hsl(0, 0%, 100%);
$primary_black_color: hsl(0, 0%, 0%);
$primary_bg_color: hsl(38, 50%, 97%);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
